@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-gray: #4d4d4d;
  --color-gray: #616161;
  --color-light-gray: #ececec;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-primary: #44dccf;

  /* Font size */
  --font-large: 30px;
  --font-medium: 25px;
  --font-regular: 20px;
  --font-small: 15px;
  --font-micro: 10px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
  --animation-duration: 250ms;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Jua", sans-serif;
  cursor: default;
  background-color: var(--color-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (min-width: 700px) {
  .App {
    width: 690px;
  }
}
@media (max-width: 700px) {
  .App {
    width: 90vw;
  }
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

h4 {
  font-size: var(--font-regular);
}

/*Swiper custom*/
.swiper-pagination-bullet-active {
  background: var(--color-primary) !important;
}

.swiper {
  margin: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  background-image: url(/public/assets/next.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev {
  height: 200px;
  width: 200px;
  background-image: url(/public/assets/prevBtn.png);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/*Header*/
.MyHeader {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-light-gray);
  font-size: var(--font-medium);
}

.MyHeader > div {
  display: flex;
}

.MyHeader .MyHeader__left {
  cursor: pointer;
  width: 25%;
  justify-content: start;
}

.MyHeader .MyHeader__right {
  cursor: pointer;
  width: 40%;
  justify-content: end;
}

.MyHeader .MyHeader__loginInfo {
  font-family: "Jua", sans-serif;
}

.MyHeader .MyHeader__searchBar {
  width: 50%;
}

.MyHeader .MyHeader__rightChild {
  font-size: var(--font-small);
}

/*MyButton*/
.MyButton {
  font-family: "Jua", sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  white-space: nowrap;
}

.MyButton button {
  font-family: "Jua", sans-serif;
  display: flex;
  align-items: center;
}

/*MyBanner*/
.MyBanner {
  height: 300px;
}

.MyBanner .MyBanner__swiper {
  height: 300px;
  width: 90%;
}

.MyBanner .MyBanner__slideItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*MySwiper*/
.MySwiperList {
  position: relative;

  height: 230px;
}
.MySwiperList .MySwiperList__swiper {
  width: 95%;
  height: 260px;
}
.MySwiperList .MySwiper__slideItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MySwiperList .MySwiperList__rate {
  color: var(--color-dark-gray);
  font-size: var(--font-micro);
}

.MySwiperList .MySwiperList__name {
  font-size: var(--font-small);
  margin: 4px 0;
}

.MySwiperList .MySwiperList__description {
  color: var(--color-dark-gray);
  font-size: var(--font-micro);
}

/*Home*/
.Home h4 {
  margin-left: 20px;
}
